h1 Users

form(action="/users/search", method="get")
  input(type="text", name="name", id="inputSearch")
  button Search

a(href="/users/create") New

ul
  each user in users
    li
      span= user.name
      | 
      a(href="/users/" + user.id) View
      | 
      a(href="/users/del/" + user.id) Delete
      
//- script to hold the value in input field
script.
  var input = document.getElementById('inputSearch');
  input.addEventListener('change', function() {
    sessionStorage.setItem('searchInput', input.value);
  });
  input.value = sessionStorage.getItem('searchInput');