extends ../layouts/common
block content
  .row
    .col-md-12.col-lg-6
      h1.d-inline.mr-2 Users
      a.btn.btn-primary.mb-3(href="/users/create") New
    .col-md-12.col-lg-6
      form.d-flex.mt-2(action="/users/search", method="get")
        input.form-control.mr-2(type="text", name="name", id="inputSearch")
        button.btn.btn-primary Search

  table.table.text-center.mt-2
    tr
      th Avatar
      th Name
      th Phone
      th Actions

    each user in users
      tr
        td
          img(src= user.avatar, width=32)
        td= user.name 
        td= user.phone
        td 
          a.btn.btn-sm.btn-dark(href="/users/view/" + user.id) View 
          span.ml-1.mr-1
          a.btn.btn-sm.btn-dark(href="/users/del/" + user.id) Delete
        
  //- script to hold the value in input field
  script.
    var input = document.getElementById('inputSearch');
    input.addEventListener('change', function() {
      sessionStorage.setItem('searchUser', input.value);
    });
    input.value = sessionStorage.getItem('searchUser');