extends ../layouts/common
block content
  h1 Users

  .row
    .col-md-12.col-lg-6
      form.d-flex(action="/users/search", method="get")
        input.form-control.mr-2(type="text", name="name", id="inputSearch")
        button.btn.btn-primary Search

  a.btn.btn-primary(href="/users/create") New

  ul
    each user in users
      li
        span= user.name 
        | 
        a(href="/users/" + user.id) View 
        |- 
        a(href="/users/del/" + user.id) Delete
        
  //- script to hold the value in input field
  script.
    var input = document.getElementById('inputSearch');
    input.addEventListener('change', function() {
      sessionStorage.setItem('searchInput', input.value);
    });
    input.value = sessionStorage.getItem('searchInput');