extends ../layouts/common
block content
  .row
    .col-md-12.col-lg-6
      h1.d-inline.mr-2 Products
      a.btn.btn-primary.mb-3(href="/products/create") New
    .col-md-12.col-lg-6
      form.d-flex.mt-2(action="/products/search", method="get")
        input.form-control.mr-2(type="text", name="name", id="inputSearch")
        button.btn.btn-primary Search

  .row.mt-5
    each product in products
      .col-sm-12.col-md-4.col-lg-3
        .card.mb-3
          img.card-img-top(src= product.image, height="240")
          .card-body
            h5.card-title= product.name
            p.card-text= product.description
            a.btn.btn-sm.btn-primary(href="/cart/add/" + product.id) Add to cart
    
  .row.justify-content-center.m-5
    .col-sm-12.col-md-4.col-lg-3
      if numberOfPages >= 2
        ul.pagination
          li#pre.page-item
            a.page-link(href="/products?page=" + (page-1))
              span &laquo;
          if numberOfPages <= 10
            - let n = 0;
              while n < numberOfPages
                li.page-item
                  a.page-link(href="/products?page=" + (++n))= n
          li#next.page-item
            a.page-link(href="/products?page=" + (page+1))
              span &raquo;


  script.
    //- script to hold the value in input field
    var input = document.getElementById('inputSearch');
    input.addEventListener('change', function() {
      sessionStorage.setItem('searchProduct', input.value);
    });
    input.value = sessionStorage.getItem('searchProduct');

    //- script to pagination
    var currentPage = window.location.search.substring(1) || 'page=1';
    var items = document.getElementsByClassName('page-item');
    var links = document.getElementsByClassName('page-link');

    for (let i = 0; i < links.length; i++) {
      let splitLink = links[i].href.split('/');
      let page = splitLink[3].split('?');

      if (page[1] === currentPage)
        items[i].classList.add('active');
    }

    if (currentPage === 'page=1')
      items[0].classList.add('disabled');
    if (currentPage === ('page=' + (items.length - 2)))
      items[items.length - 1].classList.add('disabled');